@model IEnumerable<MVCwebApi3.Models.User>

<h2>User List</h2>
<a href="@Url.Action("Create", "Users")">Create New User</a>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>@user.Phone</td>
            <td>@user.Address</td>
            <td>
                <a href="@Url.Action("Edit", "Users", new { id = user.UserID })">Edit</a> |
                <a href="@Url.Action("Details", "Users", new { id = user.UserID })">Details</a> |
                <a href="@Url.Action("Delete", "Users", new { id = user.UserID })">Delete</a>
            </td>
        </tr>
    }
</table>
